
	<%= gravatar_for current_user %>
	<%= current_user.name %><br/>
	<span><%= current_user.email %></span>
	<span><%= link_to("View my profile", current_user) %></span>
	<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
